[Desktop Entry]
Name=Time Check
Name[sv]=Tidskollen
Comment=Visual Time Timer for classrooms and children with autism
Comment[sv]=Visuell timer för klassrum
Exec=tidskollen
Icon=se.danielnylander.tidskollen
Terminal=false
Type=Application
StartupWMClass=se.yeager.tidskollen
Categories=Education;Utility;Accessibility;Autismappar
